.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-flat {
  color: #039be5;
}
